@import '/src/assets/scss/variables.scss';

.sidebar {
  background: black;
  position: relative;

  width: 117px;

  @media (max-width: $breakpointTabletXl) {
    width: 105px;
  }
  @media (max-width: $breakpointTablet) {
    width: 90px;
  }

  &__credits {
    height: 34%;
    color: white;
    font-weight: 500;
    font-size: 12px;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 270deg;
  }
}
