@import '/src/assets/scss/variables.scss';

body {
  margin: 0;
  font-family: Roboto;
}

.app {
  height: 100vh;
}

.main {
  display: flex;
  min-height: calc(100% - 95px);

  @media (max-width: $breakpointTablet) {
    min-height: calc(100% - 84px);
  }
}
